html {
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
body{
	background-color: #DBDFE3;
	font-family: 'Open Sans Condensed', 'Roboto', sans-serif;
}
svg {
	fill: currentColor;
}
.payment {
	max-width: 400px;
	margin: 4rem auto;
	margin-bottom: 0;
	border-radius: 6px;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,.13);
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,.13);
}
.payment-header{
	background: #117ADE;
	background: -webkit-linear-gradient(to right, #2AA8EB, #117ADE);
	background: linear-gradient(to right, #2AA8EB, #117ADE);
	color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	border-radius: 6px 6px 0 0;
	padding: 2rem 1.5rem;
	text-align: center;

}
.payment-header__name {
	margin: .5rem 0;
	font-weight: normal;
}
.payment-header__desc {
	margin: 0;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
.payment-inner-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
.payment-inner-list__item {
	list-style-type: none;
	padding: .75rem 1rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	border-bottom: 1px solid rgba(0,0,0,.13);
}
.tour-info__left {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	color: #918787;
	flex-basis: 50%;
}
.tour-info__right {
	flex-basis: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	color: #212123;
	font-weight: 500;
}
.payment-inner-desc {
	font-size: .9rem;
	font-weight: 300;
	padding: 1rem;
	font-family: 'Roboto', sans-serif;
	color: #918787;
	text-align: center;
}
.payment-inner-desc b {
	color: #212123;
}
.payment-footer {
	border-top: 1px solid rgba(0,0,0,.13);
	padding: .75rem 1rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
}
.secondary-link {
	color: #918787;
	cursor: pointer;
	text-decoration: none;
}
.secondary-link:hover{
	color: #1A73E8;

}
.payment-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-top: 1rem;
}
.payment-nav-list{
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.nav-list__item {
	list-style-type: none;
}
.nav-list__item__link {
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	font-weight: 500;
	text-decoration: none;
	color: #00295f;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.nav-list__item__link:hover {
	color: #1A73E8;
}
.nav-list__item__link:focus {
	color: #1A73E8;
	text-decoration: underline;
}
.nav-list__item__link svg{
	margin-right: .5rem;
}